<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Challenge</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/scripts.js"></script>
</head>

<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                    <h2>Coding Challenge Instructions</h2>
                    <a href="https://www.thebulletin.info" target="_blank">
                        <img src="/static/bulletin_logo.png" alt="Bulletin Logo" id="bulletin-logo">
                    </a>
                </div>
                <div class="card-body">
                    <ol>
                        <li>Open an AWS EC2 instance.</li>
                        <li>Open MongoDB Atlas and load the sample data.</li>
                        <li>Open a public GitHub repo.</li>
                        <li>Deploy a simple website using Python, doing some cool interaction with the MongoDB database.</li>
                        <li>Send an email to rbw2141@columbia.edu with a link to your website and a link to your repo.</li>
                    </ol>
                    <p>You are encouraged to use any available data and tools online</p>
                    <p class="deadline">Deadline: October 7th, 2023 at 11:59pm</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
